<nav id="footer_nav">
  <a href="<%= url(paths.home_fr) %>"><img src="<%= url('res/flag_fr.png') %>" alt="FR" title="FR"></a>
  <a href="<%= url(paths.home_en) %>"><img src="<%= url('res/flag_uk.png') %>" alt="EN" title="EN"></a>
</nav>
<footer>
  <p>© <%= title %> - <%= copyright_date %></p>
  <p><%- design_footer %></p>
</footer>
<script src="https://code.jquery.com/jquery-1.11.1.min.js" integrity="sha384-UM1JrZIpBwVf5jj9dTKVvGiiZPZTLVoq4sfdvIe9SBumsvCuv6AHDNtEiIb5h1kU" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" integrity="sha384-VI5+XuguQ/l3kUhh4knz7Hxptx47wpQbVRDnp8v7Vvuhzwn1PEYb/uvtH6KLxv6d" crossorigin="anonymous"></script>
