<nav id="footer_nav">
  <a href="<%= url(paths.home_fr) %>"><img src="<%= url('res/flag_fr.png') %>" alt="FR" title="FR"></a>
  <a href="<%= url(paths.home_en) %>"><img src="<%= url('res/flag_uk.png') %>" alt="EN" title="EN"></a>
</nav>
<footer>
  <p>© <%= title %> - <%= copyright_date %></p>
  <p><%- design_footer %></p>
</footer>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
