<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="<%= keywords %>">
<meta name="Description" content="<%= description %>">
<title><%= title %></title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet" integrity="sha384-onuG5CFjt4yxsh+4hKtuQ9wXnAyQmQH8dcBJ5dFHfCUksUC6H1HxSGlEYJOCR2hA" crossorigin="anonymous">
<link rel="stylesheet" href="<%= url('res/timeline.css') %>">
<link rel="stylesheet" href="<%= url('res/main.css') %>">
