<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="<%= keywords %>">
<meta name="Description" content="<%= description %>">
<title><%= title %></title>
<link href="<%= url('res/bootstrap.min.css') %>" rel="stylesheet">
<link rel="stylesheet" href="<%= url('res/timeline.css') %>">
<link rel="stylesheet" href="<%= url('res/main.css') %>">
